<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{string2}}
    <form action=""  method="POST">
        <input type="text" name="deviceID" placeholder="ID">
        <input type="text" name="cpu" placeholder="CPU">
        <input type="text" name="ram" placeholder="ram">
        <input type="text" name="cpuTemp" placeholder="Temperature">
        <input type="text" name="ticket_id" placeholder="ticket_id">
        <input type="text" name="detect_in" placeholder="detect_in">
        <input type="text" name="uptime" placeholder="uptime">
        <input type="text" name="db_size" placeholder="db_size">
        <input type="text" name="IP" placeholder="IP">
        <input type="text" name="MAC" placeholder="MAC">
        <input type="text" name="note" placeholder="note">
        <button type="submit">Add Data</button>
    </form>
    
</body>
</html>